html {
  font-size: 15px;
}

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;

  header {
    margin: 2rem 0;
    text-align: center;
  }

  .content {
    text-align: center;
  }

  .logo {
    height: 200px;
  }
}
